<div>
  <h2>Histórico de Conversões</h2>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="moedaOrigem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Moeda de Origem</th>
      <td mat-cell *matCellDef="let conversao">{{ conversao.moedaOrigem }}</td>
    </ng-container>

    <ng-container matColumnDef="valorOrigem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor de Origem</th>
      <td mat-cell *matCellDef="let conversao">{{ conversao.valorOrigem }}</td>
    </ng-container>

    <ng-container matColumnDef="moedaDestino">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Moeda de Destino</th>
      <td mat-cell *matCellDef="let conversao">{{ conversao.moedaDestino }}</td>
    </ng-container>

    <ng-container matColumnDef="valorDestino">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor de Destino</th>
      <td mat-cell *matCellDef="let conversao">{{ conversao.valorDestino }}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data da Conversão</th>
      <td mat-cell *matCellDef="let conversao">{{ conversao.data | date: 'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let conversao">
        <button mat-icon-button (click)="excluirConversao(conversao)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="historicoColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: historicoColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
